.article-grid {
  display: grid;
  width: 100vw;
  grid-gap: 20px; 
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}
.article-by-id-img {
  height: 400px;
}
.app-container {
  padding: 20px;
  margin-top: 20px;
  display: grid;
  width: 100vw;
  grid-gap: 10px;
  justify-content: center;
}
.article-comment-count {
  text-align: right;
  margin-right: 20px;
}